.App{
  background-color: #282c34;
  height: 100vh;
}
.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.square {
  float: left;  /* Float value removed and render will change parent height on content change*/
  background: #fff;
  border: 3px solid #999;
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  height: 64px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  width: 64px;

}

.green{
  color: green;
}
.white{
  color: white;
}